{{ define "main" -}}


{{ $words := .WordCount }}{{ range .Pages }}{{ $words = add $words .WordCount }}{{ end }}

<h1 class="title has-text-centered">{{ .Title }}</h1>

<p class="subtitle has-text-centered">{{ $.Param "author" }} | 共 {{ $words }} 字 | {{ .Lastmod.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }} | {{ with .GitInfo }}<a href="{{ $.Site.Params.gitRepo }}/commit/{{ .Hash }} " title="{{ .Subject }}" target="_blank">{{ .AbbreviatedHash }}</a>{{ end }} | {{ with .File }}<a href="{{ $.Site.Params.editURL }}{{ replace .Dir '\\' '/' }}{{ .LogicalName }}" target="_blank">编辑本页</a>{{ end }}</p>

<article class="post">
    <div class="content">
		{{ .Content }}
    </div>
</article>

</br>

<p class="content is-size-4">本卷共收录 {{ len .Pages }} 篇文章</p>

<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>编号</th>
      <th>标题</th>
      <th>作者</th>
      <th>上次修改</th>
    </tr>
  </thead>
  {{ range .Pages.ByParam "zid" }}
  <tr>
    <td>{{ printf "%04v.%v" (.Param "aid") (.Param "zid") }}</td>
    <td><a href="{{ .Permalink }}">{{ .Title }}</a></td>
    <td>{{ .Param "author" }}</td>
    <td>{{ .Lastmod.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</td>
  </tr>
  {{- end }}


{{- end }}
