{{ define "main" -}}


<article class="post">
    <div class="content is-size-4">
    {{ .Content }}
    </div>
</article>

<h2 class="title is-size-3">以下是已收录分卷列表，共 {{len .Site.Sections}} 卷</h2>
<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>分卷</th>
      <th>编号</th>
      <th>作者</th>
      <th>文章数量</th>
      <th>上次修改</th>
    </tr>
  </thead>
  {{ range .Site.Sections.ByParam "aid" }}
  <tr>
    <td class="title is-5"><a href="{{ .Permalink }}">{{ .Title }}</a></td>
    <td>{{ printf "%04d" (.Param "aid") }}</td>
    <td>{{ .Param "author" }}</td>
    <td>{{ len .Pages }}</td>
    <td>{{ .Lastmod.Format (.Site.Params.dateFormatToUse | default "2006-01-02") }}</td>
  </tr>
  {{- end }}
</table>


{{- end }}
