@font-face {
  font-family: 'OpenSansLight';
  src: url("../fonts/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light-webfont.svg#OpenSansLight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url("../fonts/OpenSans-LightItalic-webfont.eot");
  src: url("../fonts/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-LightItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url("../fonts/OpenSans-Italic-webfont.eot");
  src: url("../fonts/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic-webfont.woff") format("woff"), url("../fonts/OpenSans-Italic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Italic-webfont.svg#OpenSansItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/OpenSans-Semibold-webfont.eot");
  src: url("../fonts/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold-webfont.woff") format("woff"), url("../fonts/OpenSans-Semibold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Semibold-webfont.svg#OpenSansSemibold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansSemiboldItalic';
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot");
  src: url("../fonts/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-SemiboldItalic-webfont.svg#OpenSansSemiboldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'OpenSansBoldItalic';
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot");
  src: url("../fonts/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic-webfont.woff") format("woff"), url("../fonts/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("../fonts/OpenSans-BoldItalic-webfont.svg#OpenSansBoldItalic") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}


/*
 * Define consistent border, margin, and padding
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}


/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
button[disabled],
input[disabled] {
  cursor: default;
}


/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  padding: 0px 0 20px 0px;
  margin: 0px;
  font: 18px/1.5 "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #f0e7d5;
  font-weight: normal;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAABkAgMAAAANjH3HAAAACVBMVEUaGhohISElJSUh9lebAAAB20lEQVRIx4XWuZXDMAwE0C0SAQtggIIYoAAEU+aKOHhYojTrYP2+QfOW/5QIJOih/q8HwF/pb3EX+UPIveYcQGgEHiu9hI+ihEc5Jz5KBIlRRRaJ1JtoSAl5Hw96hLB1/up1tnIXOck5jZQy+3iU2hAOKSH1JvwxHsp+5TLF5MOl1/MQXsVs1miXc+KDbYydyMeUgpPQreZ7fWidbNhkXNJSeAhc6qHmHD8AYovunYyEACWEbyIhNeB9fRrH3hFi0bGPLuEW7xCNaohw1vAlS805nfsrTspclB/hVdoqusg53eH7FWot+wjYpOViX8KbFFKTwlnzvj65P9H/vD0/hibYBGhPwlPO8TmxRsaxsNnrUmUXpNhirlJMPr6Hqq9k5Xn/8iYQHYIuQsWFC6Z87IOxLxHphSY4SpuiU87xJnJr5axfeRd+lnMExXpEWPpuZ1v7qZdNBOjiHzDREHX5fs5Zz9p6X0vVKbKKchlSl5rv+3p//FJ/PYvoKryI8vs+2G9lzRmnEKkh+BU8yDk515jDj/HAswu7CCz6U/Mxb/PnC9N41ndpU4hUU7JGk/C9PmP/M2xZYdvBW2PObyf1IUiIzoHmHW9yTncliYs9A9tVNppdShfgQaTLMf+j3X723tLeHgAAAABJRU5ErkJggg==) !important;
  background-clip: border-box !important;
  background-origin: padding-box !important;
  background-repeat: repeat !important;
  background-size: auto !important;
  background-position: left top !important;
  background-attachment: scroll !important;
  /*
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #101010), color-stop(100%, #050505));
  background: -webkit-linear-gradient(#101010, #050505);
  background: -moz-linear-gradient(#101010, #050505);
  background: -o-linear-gradient(#101010, #050505);
  background: -ms-linear-gradient(#101010, #050505);
  background: linear-gradient(#101010, #050505);
  */
}

h1, h2, h3, h4, h5, h6 {
  color: #e8e8e8;
  margin: 0 0 10px;
  font-family: 'Oswald', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

p, ul, ol, table, pre, dl {
  margin: 0 0 20px;
}

.accent {
  font-family: 'Oswald';
}

h1, h2, h3 {
  font-family: 'Oswald', "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1;
}

h1 {
  font-size: 32px;
  line-height: 50px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
  line-height: 24px;
  font-family: 'Oswald', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
  color: #b6b6b6;
}

h4, h5, h6 {
  color: #e8e8e8;
  font-family: 'Oswald', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}



a {
  color: #DF8744;
  font-weight: 400;
  text-decoration: none;
}

a:hover {
  color: #FFB774;
}

a small {
  font-size: 11px;
  color: #666;
  margin-top: -0.6em;
  display: block;
}

ul {
  list-style-image: url("../images/bullet.png");
}

strong {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: normal;
}

#sidebar {
  position: fixed;
  top: 150px;
  left: 20px;
}


#sidebar a{
  color: #07A5A8;
  font-weight: 400;
  text-decoration: none;
}

#sidebar a.navactive{
  color: #f0e7d5;
  font-weight: 400;
  text-decoration: none;
}

#sidebar a:hover{
  color: #f0e7d5;
  font-weight: 400;
  text-decoration: none;

}
#header img{float:left}
#header a{color: #858585;float:left;padding:0 30px;}

.pagination{height:36px;margin:18px 0;}
.pagination a{float:left;padding:0 25px;}
.pagination li{display:inline;}
.pagination .disabled a,.pagination .disabled a:hover{background-color:transparent;color:#858585;}

.wrapper {
  max-width: 750px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

section {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

section img {
  max-width: 100%;
}

blockquote {
  border-left: 3px solid #ffcc00;
  margin: 0;
  padding: 0 0 0 20px;
  font-style: italic;
}

code {
  font-family: "Lucida Sans", Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal;
  color: #afefef;
  font-size: 17px;
  margin: 0 2px;
  padding: 4px 0px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}

pre {
  padding: 8px 15px;
  background: #191919;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #121212;
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3);
  overflow: auto;
  overflow-y: hidden;
}
pre code {
  color: #efefef;
  text-shadow: 0px 1px 0px #000;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #434343;
  color: #b6b6b6;
  font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: bold;
}

td {
  text-align: left;
  padding: 5px 10px;
  border-bottom: 1px solid #434343;
}

hr {
  border: 0;
  outline: none;
  height: 3px;
  background: transparent url("../images/hr.gif") center center repeat-x;
  margin: 0 0 20px;
}

dt {
  color: #F0E7D5;
  font-family: 'Droid Sans', "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-weight: 400;
}

#header {
  z-index: 100;
  left: 0;
  top: 0px;
  height: 60px;
  width: 100%;
  position: fixed;
  background: url(../images/nav-bg.gif) #353535;
  border-bottom: 4px solid #434343;
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

#header .title {
  color: #858585;
  float: left;
  font-size: 35px;
  font-weight: 550;
  padding: 2px 20px;
}

#header .title a {
  color: #858585;
}

#header .title a:hover {
  color: #606060;
}

#header nav {
  max-width: 650px;
  margin: 0 auto;
  padding: 0 10px;
  background: blue;
  margin: 6px auto;
}

#header nav li {
  font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  list-style: none;
  display: inline;
  color: white;
  line-height: 50px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  font-size: 14px;
}
#header nav li a {
  color: white;
  border: 1px solid #D12D2F;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #F14D4F), color-stop(100%, #D12D2F));
  background: -webkit-linear-gradient(#F14D4F, #D12D2F);
  background: -moz-linear-gradient(#F14D4F, #D12D2F);
  background: -o-linear-gradient(#F14D4F, #D12D2F);
  background: -ms-linear-gradient(#F14D4F, #D12D2F);
  background: linear-gradient(#F14D4F, #D12D2F);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  -o-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.3), 0px 3px 7px rgba(0, 0, 0, 0.7);
  background-color: #F14D4F;
  padding: 10px 12px;
  margin-top: 6px;
  line-height: 14px;
  font-size: 14px;
  display: inline-block;
  text-align: center;
}

#header nav li a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #D12D2F), color-stop(100%, #B10D0F));
  background: -webkit-linear-gradient(#D12D2F, #B10D0F);
  background: -moz-linear-gradient(#D12D2F, #B10D0F);
  background: -o-linear-gradient(#D12D2F, #B10D0F);
  background: -ms-linear-gradient(#D12D2F, #B10D0F);
  background: linear-gradient(#D12D2F, #B10D0F);
  background-color: #B10D0F;
  border: 1px solid #B10D0F;;
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
  -o-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.2), 0px 1px 0px rgba(0, 0, 0, 0);
}

#header nav li.fork {
  float: left;
  margin-left: 0px;
  margin-right: 15px
}

#header nav li.downloads {
  float: right;
  margin-left: 6px;
}

#header nav li.title {
  float: right;
  margin-right: 10px;
  font-size: 11px;
}

section {
  max-width: 650px;
  padding: 30px 0px 50px 0px;
  margin: 20px 0;
  margin-top: 70px;
}

section #title {
  border: 0;
  outline: none;
  margin: 0 0 0 0;
  padding: 0 0 5px 0;
}

section #title h1 {
  font-family: 'Oswald', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 42px;
  text-align: center;
  line-height: 28px;
  padding-bottom: 5px;
}

section #title p {
  color: #d7cfbe;
  font-family: 'Oswald', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
}

.post-tags, .post-tags a {
  color: #656565;
  font-weight: bold;
  float: right;
}

.post-tags a:hover {
  color: #757575;
}

li .heading {
  font-family: 'Oswald';
  font-size: 20px;
  color: #C17DF1;
}


footer .credits {
  font-size: 11px;
  font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #696969;
  margin-top: -10px;
}
footer .credits.left {
  float: left;
}
footer .credits.right {
  float: right;
}

@media print, screen and (max-width: 720px) {
  #title .credits {
    display: block;
    width: 100%;
    line-height: 30px;
    text-align: center;
  }
  #title .credits .left {
    float: none;
    display: block;
  }
  #title .credits .right {
    float: none;
    display: block;
  }
}
@media print, screen and (max-width: 480px) {
  #header {
    margin-top: -20px;
  }

  section {
    margin-top: 40px;
  }

  nav {
    display: none;
  }
}
