<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://lgqm.halu.lu/">
            <strong>临高启明</strong>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbar-main">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbar-main" class="navbar-menu">
        <div class="navbar-start">
        	<a class="navbar-item" href="/0000/">
                指南
		    </a>

            <a class="navbar-item" href="/archive/">
                目录
		    </a>

            <a class="navbar-item" href="https://t.me/lingaoqiming" target="_blank">
		        讨论群
		    </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
		          更多
		        </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="https://book.qidian.com/info/1262627" target="_blank">
		            起点
		            </a>
                    <a class="navbar-item" href="https://chuiniu.duanshu.com/" target="_blank">
                    短书
                    </a>
                    <hr class="navbar-divider">
                    <a class="navbar-item" href="https://www.lgqm.gq/" target="_blank">
		            论坛
		            </a>
                    <a class="navbar-item" href="https://lgqm.huijiwiki.com/" target="_blank">
		            Wiki
		            </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <button id="button-size-inc" class="button is-info">
                    放大字体
                    </button>
                    <button id="button-size-dec" class="button is-info">
                    缩小字体
                    </button>
                    <a class="button is-primary" href="https://gitee.com/halulu/lgqm" target="_blank">
		            Git
		            </a>
                </div>
            </div>
        </div>
    </div>
</nav>