<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Sctict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include html-header.html %}
  <body>
    {% include page-header.html %}
    {% assign pages_list = site.pages %}
    {% assign category_url = page.url %}
    {% include sidebar.html %}
    <div class="wrapper">
      <section>
        <div id="title">
          <h1>{{ page.title }}</h1>
          <p>{{ page.tagline }}</p>
          <hr/>
        </div>
	{{ content }}

	<br/>
	<footer>
	  
	  <span class="credits right">
	    Hosted on GitHub Pages 
	</footer>
      </section>
    </div>
  </body>
</html>

