---
layout: layout
---

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Sctict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  {% include html-header.html %}
  <body>
    {% assign category_title = nil %}
    {% assign category_url = nil %}
    {%for node in site.pages %}
      {% if node.category == page.category %}
        {% assign category_url = node.url %}
        {% assign category_title = node.title %}
      {% endif %}
    {% endfor%}
    {% include post-header.html %}
    {% assign pages_list = site.pages %}
    {% include sidebar.html %}
    <div class="wrapper">
      <section>
        <div id="title">
          <h1>{{ page.title }}</h1>
          <p>{{ page.tagline }}</p>
          <hr/>
        </div>
       {{ content }}
 <br/>
  <hr/>
      <ul class="pagination">
        {% if page.previous %}
          <li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">上一节</a></li>
        {% else %}
          <li class="prev disabled"><a>上一节</a></li>
        {% endif %}
          <li><a href="{{ BASE_PATH }}{{ category_url }}">回目录</a></li>
          <li><a href="https://github.com/lingaoqiming/lingaoqiming.github.com/tree/master/_posts/{{page.path}}">编辑本页</a></li>
        {% if page.next %}
          <li class="next"><a href="{{BASE_PATH}}{{ page.next.url }}" title="{{ page.next.title }}">下一节 </a></li>
        {% else %}
          <li class="next disabled"><a>下一节 </a>
        {% endif %}
      </ul>
    <hr>
    {% assign category_url = nil %}
    {% assign pages_list = nil %}
  <footer>
    <span class="credits right">
      Hosted on GitHub Pages 
    </span>
  </footer>
      </section>
    </div><p></p>
  </body>
</html>

